.DS_Store
/.idea/vcs.xml
/.idea/Python.iml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/other.xml
/Image Processing/1209/crawling/data/
/Image Processing/1209/crawling/test/
/.gitignore
/Image Processing/1209/crawling/train/
/Image Processing/1212/사과_img_download/
/Image Processing/1212/딸기_high_resolution/
/Image Processing/1212/사과_high_resolution/
/Image Processing/1212/키위_high_resolution/
/Image Processing/1213/image/
/Image Processing/1213/images/
/Image Processing/1213/resize/
/Image Processing/1213/xml_folder/
/Image Processing/1213/dataset/
/Image Processing/1214/dataset/
/Image Processing/1216/dataset/
/Image Processing/1219/images/
/Image Processing/1219/dataset/
/Image Processing/1219/save_model/
/Image Processing/1219/data/
/Image Processing/1222/data/
/Image Processing/1222/model_save/
/Image Processing/1228/dataset/
/Image Processing/1228/data/
/0109/dataset/
/Image Processing/0104/dataset/
/Image Processing/0104/data/
/Image Processing/0104/hw/
/data_split/
/0125/Microcontroller Detection/
